<header>
    @Html.Sitecore().Placeholder("SiteHeader")
</header>
<div class="site-body">
    @Html.Sitecore().Placeholder("SiteBody")
</div>
<footer>
    @Html.Sitecore().Placeholder("SiteFooter")
</footer>