<style>
    .site-login-body {
        width: 100%;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

<header>
    @Html.Sitecore().Placeholder("LoginHeader")
</header>
<div class="site-login-body">
    @Html.Sitecore().Placeholder("LoginBody")
</div>
<footer>
    @Html.Sitecore().Placeholder("LoginFooter")
</footer>