<style>
    .site-footer {
        width: 100%;
        height: 60px;
        background-color: #bdffb7;
    }

    .copyright-text {
        margin: 0 auto;
        width: 210px;
        color: #e64040;
        position: relative;
        top: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<div class="site-footer">
    <p class="copyright-text">Copyright Suhas Inc. 2018</p>
</div>