<style>
    .site-header {
        height: 82px;
        background-color: bisque;
        padding: 0 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .site-header-text {
        color: cadetblue;
        float: left;
    }

    .site-header-actions {
        float: right;
        margin-top: 27px;
        margin-right: 30px;
    }

    .site-header-action-link, .site-header-action-link:visited {
        text-decoration: none;
        color: darkred;
    }
</style>

<div class="site-header">
    <h1 class="site-header-text">Log Into The Site</h1>
    <div class="site-header-actions">
        <a class="site-header-action-link" href="#">Logout</a>
    </div>
</div>
